{% extends "base.html" %}
{% block page_title %}Password Reset confirm{% endblock %}
{% block page_heading %}ENTER YOUR NEW PASSWORD{% endblock %}
{% block content %}

<form method="post" class="accountform">
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    {% csrf_token %}
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     
    <p>
        {{ form}} 
    </p>
    <input type="submit" value="Change my password" />
</form>
{% endblock %}